* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  
}



.navbar {
 padding: 1rem;
 background-color: rgb(59, 59, 121);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
 
}

.navbar-brand {
  color: rgb(188, 188, 207);
  text-decoration: none;

}
.nav-links {
  display: flex;
  list-style: none;
 justify-content: space-between;
 width: 40%;
 
}

.nav-link {
  color: rgb(19, 13, 34);
  text-decoration: none; 

  
}


.active-link {
  color: rgb(158, 179, 156);
  text-decoration: underline;
  
}

.nav-link:hover {
  background-color: rgb(88, 9, 214);
}



.navbar ul {
  float: left;
}

.navbar  ul li {
  float: left;
  list-style: none;
  position: relative;
}

.navbar ul li a {
  display: block;
  font-family: arial;
  color: #222;
  font-size: 14px;
  padding: 24px 14px;
  text-decoration: none;
}

.navbar ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  
}

.navbar ul li:hover ul {
  display: block;
}

.navbar ul li ul li {
  width: 180px;
  border-radius: 4px;
}

.navbar ul li ul li a {
  padding: 12px 14px;
}
.navbar ul li ul li a:hover {
  color:rgb(88, 9, 214)
}

.post {
  margin: 0 auto;
  width: 60%;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 5px 5px 5px;
  background-color: rgb(59, 59, 121);
  
}

.post h2 {
  color: rgb(188, 188, 207);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
}

.post a {
  color:rgb(188, 188, 207);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.centrera {
  background-color:rgb(188, 188, 207);
  height: 21rem;
}

.centrera h1 {
  text-align: center;
  padding: 4rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 2;
}

.centrera h2 {
  text-align: center;
  margin-top: -3rem;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 3;
  

}

.centrera p {
  text-align: center;
  margin: 2rem;
}

.divknapp {
  text-align: center;
 
  
  
}

.divknapp button:hover {
  
  background: rgb(158, 155, 155);
}




.loggain h1 {
  text-align: center;
  padding: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 2;
}

.loggain button {
 color: rgb(188, 188, 207);
 height: 2rem;
 width: 5rem;
 background-color: rgb(59, 59, 121);
 border-radius: 12px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1rem;
}

.loggain button:hover {
  background-color: rgb(178, 178, 224);
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.loggain {
  text-align: center;
  background-color:rgb(188, 188, 207);
  height: 14rem;
}

.skapah1 {
  text-align: center;
  padding: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 2;
  

}





.divcreate {
  margin: 0 auto;
  width: 33%;
  
}

.titel4 {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: lighter;

}

.priset {
  margin-top: 1rem;
  margin-bottom: -2rem;
}




.skapabody {
  margin: 0 auto;
  width: 40%;
  padding: 2rem;
}

.titel5 {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
}

.diven {
 background-color: rgb(188, 188, 207);
 height: 50rem;
 
 
}

.knapp1 {
  margin: 0 auto;
  width: 34%;
  
}

.längd {
  width: 20.5rem;
}

.längd:hover {
  color: white;
  background-color: black;
}



